<section>
    <hr />
    <table width="100%">
        <tr>
            <td width="33%"><center><b>Titulo: </b><input type="text" id="titulo">  <button type="button" class="btn btn-warning" onclick="procuratit()">Procurar</button> </center></td>
            <td><center><b>Autor: </b><input type="text" id="autor"> <button type="button" class="btn btn-warning" onclick="procuraaut()">Procurar</button></center></td>
            <td></center><b>Género: </b><input type="text" id="genoro">  <button type="button" class="btn btn-warning" onclick="procuragen()">Procurar</button></center></td>
            
        </tr>
    </table>
    <hr />
    <div id="demo">
        <p data-bind="html:out"></p>
    </div>
    
</section>
